*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-wedkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: block;}
button{cursor: pointer;}
button:: {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-----------------------------------------------------*/

body{
	font-family: 'open sans';
	background-color: #0c0c0c;
}
.wrapper{
	display: flex;
	flex-direction: column;
}
.header{
	color: #FFF;
	max-width: 1928px;
	background-color: #0C0C0C;
}
a{
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
}
.header__row{
	display: flex;
	height: 121px;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}
.header__logo{
	font-family: 'Cormorant Upright';
	display: flex;
	padding: 32px 120px;
	font-size: 44px;
	font-weight: 700;
}
.header__nav{
	display: flex;
	flex-grow: 0.2;
	justify-content: space-between;
	font-size: 16px;
	line-height: 175%;
}
.header__login{
	display: flex;
	padding: 46.5px 120px 46.5px 120px;
}
.loginreg{
	display: flex;
	padding-right: 50px;
}
.slash{
	display: flex;
}
.book{
	display: flex;
	padding-left: 50px;
}

.content{
	flex: 1 1 auto;
	max-width: 1928px;
}

.container{
	width: 1680px;
	margin: 0 auto;
}
.key{
	background-color: #0c0c0c;
	margin: 152px;
}

.key__row{
	display: flex;
	margin: 48px;
}
.key__body{
	padding: 127.5px 0 219.5px 190px;
	margin-right: 180px;
	align-self: center;
}
.key__low{
	color: #fff;
	margin: 0 0 16px 0;
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
}
.key__icon{
	margin: 16px 0 16px 0;
}
.key__title{
	color: #DCCA87;
	margin: 16px 0 16px 0;
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}
.key__text{
	display: flex;
	width: 453px;
	color: #AAAAAA;
	text-align: justify
	margin: 16px 0 16px 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
}
.key__btn{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 157px;
	height: 44px;
	margin: 16px 0 0 0;
}
.key__image{
	width: 667px;
	height: 736px;
}


.knife{
	background: url('../img/fon2.png');
}
.knife__row{
	display: flex;
	padding: 128px;
}
.knife__left{
	padding: 206px 85px 0 0;
}
.knife__left__titule{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-size: 64px;
	line-height: 130%;
	text-align: right;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #DCCA87;
}
.knife__left__icon{
	display: flex;
	flex-direction: row-reverse;
}
.knife__left__text{
	display: flex;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
	line-height: 175%;
	text-align: right;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	padding: 32px 0 32px 0;
}
.knife__left__btn{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 157px;
	height: 44px;
	margin-left: auto;
}
.knife__image{}
.knife__right{
	padding: 206px 0 0 85px;
}
.knife__right__titule{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #DCCA87;
}
.knife__right__icon{
	display: flex;
}
.knife__right__text{
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
	line-height: 175%;
	text-align: left;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	padding: 32px 0 32px 0;
}
.knife__right__btn{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 157px;
	height: 44px;
}


.table{
 margin: 152px;
}
.container__table{
	width: 1364px;
	margin: 0 auto;
}
.table__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #DCCA87;
	box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
	padding: 48px 0;
}
.table__low{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	text-align: center;
	color: #fff;
}
.table__icon{
	margin-top: 8px;
}
.table__title{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #DCCA87;
	margin-top: 8px;
}
.table__info{
	display: flex;
	max-width: 100%;

	margin-top: 64px;
}
.person select{
	display: flex;
	align-self: start;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	border: 1px solid #DCCA87;
	width: 412px;
	height: 60px;
	margin-right: 32px;
	padding: 16px;
}
.data select{
	display: flex;
	align-self: start;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	border: 1px solid #DCCA87;
	width: 412px;
	height: 60px;
	padding: 16px;
}
.time select{
	display: flex;
	align-self: start;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	border: 1px solid #DCCA87;
	width: 412px;
	height: 60px;
	margin-left: 32px;
	padding: 16px;
}
.table__btn{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 157px;
	height: 44px;
	margin-top: 64px;
}


.bar{
	background-image: url('../img/FonBar.png');
}
.bar__row{
	display: flex;
	flex-direction: column;
	padding: 261px 0 262px 145px;
}
p{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	padding-top: 64px;
}
.bar__decor{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
	color: #FFFFFF;
	padding-top: 0;
}



.menu{}
.container__menu{
	width: 1300px;
	margin: 0 auto;
}
.menu__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 152px;
}
.menu__title__body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu__low{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	color: #FFFFFF;
}
.menu__icon{}
.menu__title{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	color: #DCCA87;
	margin-bottom: 64px;
}
.menu__body{
	display: flex;
	align-items: center;

}
.menu__left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 412px;
	height: 596px;
	margin-right: 32px;

}
.left__beverages{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	padding-bottom: 48px;
}
.menu__list{
}
.first__beverages{
}
.up{
	display: flex;
	justify-content: flex-end;
}
.name__beverages{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #DCCA87;
	padding-right: 32px;
	white-space: nowrap;
	margin-right: auto;
}
.band{

	padding-top: 14.5px;
}
.price{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	padding-left: 32px;
	align-self: flex-end;
}
.down{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	padding-bottom: 41.5px;
	white-space: nowrap;
}
.second__beverages{}
.third__beverages{}
.fourth__beverages{}
.fifth__beverages{}
.menu__image{
	margin-right: 32px;
}
.menu__right{}
.right__beverages{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	padding-bottom: 48px;
}
.menu__btn{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 136px;
	height: 44px;
	margin-top: 65px;
}


.chef{
	background-image: url('../img/Fonchef.png');
}
.container__chef{
	width: 1300px;
	margin: 0 auto;
}
.chef__row{
	display: flex;
	align-items: center;
	padding: 128px 0;
}
.chef__image{}
.chef__body{
	padding: 96px;
}
.chef__body__title{}
.chef__low{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
}
.chef__icon{}
.chef__title{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #DCCA87;
	padding-bottom: 64px;
}
.chef__body__text{
	display: flex;
	flex-direction: column;
	width: 570px;

}
.chef__text__1{
	display: flex;
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	white-space: nowrap;
}
.chef__text__1_1{
	margin-top: auto;
	padding-left: 16px;
}
.chef__text__2{
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
}
.chef__body__name{
	padding: 64px 0;
}
.chef__name{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #DCCA87;
}
.chef__prof{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
}
.chef__painting{}