*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-wedkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: block;}
button{cursor: pointer;}
button:: {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-----------------------------------------------------*/

html{
	
}

body{
	font-family: 'open sans';
	background-color: #0c0c0c;
}

.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header{
	color: #FFF;
	max-width: 1928px;
}

a{
	color: #fff;
}

a:hover{
	text-decoration: underline;
}

.header__row{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 32px 120px;
}

.row__logo{
	font-family: 'Cormorant Upright';
	display: flex;
	font-size: 44px;
	font-weight: 700;
}

.menu{
	display: flex;
	justify-content: space-between;
	width: 21.3%;
}

.row__login{
	display: flex;
	justify-content: space-between;
	width: 19%;
}

.container{
	width: 1300px;
	margin: 0 auto;
}

.key__row{
	display: flex;
	justify-content: space-between;
	padding: 95px 0 244px 0;
}

.subtitle{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

h1{
	font-family: 'Cormorant Upright';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 130%;
	color: #DCCA87;
}

.key__body{
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 34.8%;
}

.text{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	padding: 32px 0;
}

button{
	display: block;
	font-family: 'Cormorant Upright';
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.04em;
	background-color: #DCCA87;
	width: 157px;
	height: 44px;
}

h2{
	font-family: 'Cormorant Upright';
	font-weight: 600;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #DCCA87;
}

.main__knife{
	background-image: url('../img/Fonchef.png');
}
.knife__row{
	display: flex;
}

.knife__column{
	align-self: center;

}

.item-knife__left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
}

.item-knife__image{
	padding: 128px 85px;
}

.table__container{
	width: 1364px;
	margin: 0 auto;
}

.table__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #DCCA87;
	padding: 48px 0;
	margin: 152px 0; 
}

.row__body{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.row__column{
	display: flex;
	justify-content: space-between;
	width: 95.3%;
	
	
}

select{
	display: flex;
	align-self: start;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: 'Cormorant Upright';
	font-size: 16px;
	letter-spacing: 0.04em;
	border: 1px solid #DCCA87;
	width: 30.2%;
	height: 60px;
	margin: 64px 0;
}

.choice{
	background-image: url('../img/FonBar.png');
	height: 900px;
}

.choice__body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 145px;
	height: 900px;
	width: 30%;
}

.choice__item{
	font-family: 'Cormorant Upright';
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	padding-bottom: 64px;
}

.choice__item:last-child{
	padding: 0;
}

.drink__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 152px 0;
}
.drink__body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3{
	font-family: 'Cormorant Upright';
	font-size: 45px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	padding-bottom: 48px;
}
.drink__column{
	display: flex;
	align-self: center;
	align-items: center;
	gap: 32px;
	margin: 65px 0;
}

.price__up{
	display: flex;
	gap: 32px;
	justify-content: flex-end;
}

.price__name{
	justify-items: start;
	margin-right: auto;
	font-family: 'Cormorant Upright';
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	color: #DCCA87;
}

.price__value{
	font-family: 'Cormorant Upright';
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
}

.price__down{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
}

.price__band{
	display: flex;
	flex-direction: column;
	align-self: center;
}
.item__price{
	padding-bottom: 41.5px;
}

.item__price:last-child{
	padding-bottom: 0;
}

.main__chef{
	background-image: url('../img/Fonchef.png');
}

.chef__row{
	display: flex;
	padding: 128px 0;
}

.chef__image{
	padding-right: 7.38%;
}

.chef__body{
	display: flex;
	flex-direction: column;
	align-self: center;
}

.body__first-text{
	display: flex;
	height: 40px;
	white-space: nowrap;
	gap: 10px;
}

[class*=text]{
	padding: 0;
	align-items: flex-end;
}

.body__text{
	padding: 64px 0;
}

h4{
	font-family: 'Cormorant Upright';
	font-size: 32px;
	line-height: 130%;
	letter-spacing: 0.04em;
	color: #DCCA87;
}

.body__prof-chef{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	padding-bottom: 64px;
}

.comment__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 152px 0;
}

.comment__body{
	text-align: center;
	padding-bottom: 32px;

}

.comment__cloumn{
	display: flex;
	justify-content: space-between;
	
}

.comment__cloumn-left{
	padding-right: 32px;
}
.comment__items{
	display: flex;
	gap: 32px;
	padding-bottom: 64px;
}

.items__body{
	align-self: center;
}
[class*=text]{
	
}

.items__prof{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
}

.comment__text{
	font-style: italic;
	font-size: 16px;
	line-height: 175%;
	color: #AAAAAA;
}

.main__word{
	background-image: url('../img/Fonchef.png');
}

.word__row{
	display: flex;
	justify-content: space-between;
	padding: 152px 0;
}

.word__body{
	display: flex;
	flex-direction: column;
}

.word__cloumn{
	display: flex;
	padding-top: 64px;
}

.word__items{
	display: flex;
	padding: 32px 32px 0 0;
	width: 90%;
}

h5{
	font-family: 'Cormorant Upright';
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	letter-spacing: 0.04em;
	color: #DCCA87;

}
.word-items__image{
	padding-right: 32px;
}

.blogs__row{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 152px 0;
	gap: 64px;
}

.blogs__body{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.blogs__column{
	display: flex;
	gap: 32px;
}

.blogs__data-name{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #FAFAFA;
	padding-top: -8px;
}

.column__items{
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.blogs__title{
	font-family: 'Cormorant Upright';
	font-size: 32px;
	line-height: 130%;
	letter-spacing: 0.04em;
	color: #DCCA87;
}

.blogs__link{
	color: #DCCA87;
}

.main__instagram{
	background-image: url('../img/Fonchef.png' );
}
.instagram__row{
	display: flex;
	justify-content: space-between;
	padding: 128px 0;
}

.instagram__body{
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 40%;
	align-self: center;

}

.instagram__foto{
	white-space: nowrap;
	margin-right: -310px;
}

.wrapper__footer{

}
footer{
	max-width: 1870px;
	margin: 0 auto;
}

.footer__row-contant{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid #DCCA87;
	gap: 64px;
	box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
	margin: 113px 0 128px 0;
	padding: 64px 0;
}

.footer__text-title{
	font-size: 16px;
	line-height: 175%;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.footer__form{
	display: flex;
	gap: 32px;
}

input{
	display: flex;
	align-self: start;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: 'Cormorant Upright';
	font-size: 16px;
	letter-spacing: 0.04em;
	border: 1px solid #DCCA87;
	width: 635px;
	height: 60px;
	padding-left: 18.94px;
}

.footer__btn{
	align-self: center;
}

.column__item-footer{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.item__title h4{
	color: #F5EFDB;
	padding-bottom: 24px;
}

.item__title-center{
	font-family: 'Cormorant Upright';

font-weight: 700;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.04em;
color: #DCCA87;
}

.irem__text-center{
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #FFFFFF;

}

.footer__final{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #AAAAAA;
	text-align: center;
	padding: 82px 0 128px;
}
